/* Drawer Styles */
.about-drawer {
  position: fixed;
  top: 0;
  right: -100%;
  width: 480px;
  height: 100%;
  background-color: #000000;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  padding: 20px;
  overflow-y: auto;
}

.about-drawer.open {
  right: 0;
}

/* Close Button */
.close-button-1 {
  background: none;
  border: none;
  cursor: pointer;
  float: right;
  padding: 5px;
  font-size: 3rem;
  color: #fffefe;
}

.close-button-1:hover {
  color: #ff0000;
}

/* Drawer Header */
.about-drawer h2 {
  font-size: 3rem;
  color: #b1aaaa;
  margin-bottom: 10px;
}

.about-drawer p {
  font-size: 1rem;
  color: #ffffff;
  line-height: 1.5;
}

/* Help Button */
.help-button {
  background-color: #FF5F1F;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  display: inline-block;
  transition: background 0.3s ease-in-out;
}

.help-button:hover {
  background-color: #3d3d3d;
}

/* Help Form Styles */
.help-form {
  margin-top: 15px;
}

.help-form textarea {
  width: 100%;
  height: 80px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #000000;
  resize: none;
}

.help-form textarea:focus {
  outline: none;
  border-color: #FF5F1F;
  background-color: #000000;
}

.help-form button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  color: #fff;
  background-color: #FF5F1F;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.help-form button:hover {
  background-color: #595959;
}

/* Responsive Design */
@media (max-width: 768px) {
  .about-drawer {
    width: 100%;
  }

  .help-button {
    width: 100%;
  }
}
